/* Тут пиши основные стили */
body {
    margin: 0;
}

nav {
    background: #faf9f8;
    height: 100px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.header_img {
    margin: 10px 38px 10px;
}

ul {
    display: flex;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 36px;
    list-style-type: none;
    margin-right: 760px;
}

li {
    float: left;
    margin-left: 30px;
}

li:hover {
    text-decoration: underline;
    cursor: url('responsive-design/E8E9A56B-53B7-494E-BE52-747EE607EC62/5301AFFB-CEE8-43FC-8F06-FB9785DF6E4A@1x.png'), auto;
}

.content{
    color:rgba(0,0,0,0.84);
    text-align:left;
    padding-left: 25%;
    width: 50%;
}

h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    line-height:44px;
}

h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
    font-size: 34px;
    line-height:39px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    line-height:33px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}